<div class="general-container">
  <app-circular-menu></app-circular-menu>
  <app-animated-background
    [circleColor]="'#1db954'"
    [numCircles]="15"
  ></app-animated-background>
  <div class="register-container">
    <h1 style="text-align: center">PICASSO</h1>
    <h2>¡Crea tu cuenta!</h2>
    <form [formGroup]="registerForm" (ngSubmit)="submitRegisterData()">
      <div class="form-group">
        <label for="numberId">Número de Identificación</label>
        <input
          formControlName="inputIdentificationNumber"
          type="text"
          id="numberId"
          name="numberId"
          placeholder="Ingrese su número de identificación"
          required
        />
      </div>
      <div class="form-group">
        <label for="username">Nombre de Usuario</label>
        <input
          formControlName="inputName"
          type="text"
          id="username"
          name="username"
          placeholder="Ingrese su nombre de usuario"
          required
        />
      </div>
      <div class="form-group">
        <label for="lastname">Apellido de Usuario</label>
        <input
          formControlName="inputLastName"
          type="text"
          id="lastname"
          name="lastname"
          placeholder="Ingrese su apellido de usuario"
          required
        />
      </div>
      <div class="form-group">
        <label for="phone">Teléfono</label>
        <input
          formControlName="inputPhone"
          type="text"
          id="phone"
          name="phone"
          placeholder="Ingrese su número de teléfono"
          required
        />
      </div>
      <div class="form-group">
        <label for="email">Correo Electrónico:</label>
        <input
          formControlName="inputEmail"
          type="email"
          id="email"
          name="email"
          placeholder="Ingrese su correo electrónico"
          required
        />
      </div>
      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          formControlName="inputPassword"
          type="password"
          id="password"
          name="password"
          #passwordInput
          placeholder="Ingrese su contraseña"
          required
        />
        <span
          class="toggle-password"
          id="toggle-password"
          appTogglePassword
          [targetInput]="passwordInput"
          >👁️</span
        >
      </div>
      <div class="buttons">
        <button type="submit" class="button">Registrar</button>
        <button type="button" class="button cancel" id="cancel-button">
          Cancelar
        </button>
      </div>
    </form>
    <p style="text-align: center; color: black; margin-top: 5%">
      ¿Ya tienes cuenta?
      <a [routerLink]="['/login']" id="register-link">¡Logueate!</a>
    </p>
  </div>
  <div id="response-overlay" style="display: none">
    <div id="response-contain-message" style="display: none"></div>
  </div>
</div>
