<div class="general-container">
  <app-circular-menu></app-circular-menu>
  <app-animated-background [circleColor]="'#1db954'" [numCircles]="15"></app-animated-background>
  <div class="login-container">
    <h1 style="text-align: center;">PICASSO</h1>
    <h2>¡Accede a tu cuenta!</h2>
    <form id="login-form" [formGroup]="loginForm" novalidate>
      <div class="form-group">
          <label for="email">Correo Electrónico</label>
          <input type="text" formControlName="inputEmail" id="email" placeholder="Ingrese el email" required/>
        </div>
        <!-- [class.is-invalid]="emailErroneo" <small *ngIf="emailErroneo" class="text-danger">
          Revisar el email del usuario
        </small> -->
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" formControlName="inputPassword" id="password" #passwordInput placeholder="Ingrese su contraseña" required />
          <!-- [class.is-invalid]="emailErroneo" <small *ngIf="passwordErroneo" class="text-danger">
            Revisar la contraseña del usuario
          </small> -->
          <span class="toggle-password" id="toggle-password" appTogglePassword [targetInput]="passwordInput">👁️</span>
        </div>
        <div class="buttons">
          <button type="submit" class="button" id="login-button" (click)="submitLoginData()">
            Iniciar Sesión
          </button>
          <button type="button" class="button cancel" id="cancel-button">
            Cancelar
          </button>
        </div>
      </form>
      <p style="text-align: center; color: black; margin-top: 5%">
        ¿No tienes cuenta?
        <a [routerLink]="['/register']" id="register-link">¡Regístrate aquí!</a>
      </p>
    </div>
    <div id="response-overlay" style="display: none">
      <div id="response-contain-message" style="display: none"></div>
    </div>
</div>
