<main class="main-card">
  <div class="">
    <h3>Depósito Bancario</h3>
  </div>

  <form [formGroup]="depositForm">
    <div>
      <label for="account">Cuenta Bancaria:</label>
      <select id="account" formControlName="inputAccount"  required>
          <option *ngFor="let account of bankAccount" [value]="account.numeroCuenta">
            {{ account.numeroCuenta }}
          </option>
      </select>
    </div>
    
    <div>
        <label for="amount">Monto a Depositar:</label>
        <input type="number" id="amount" formControlName="inputDeposit">
    </div>

    <div>
        <button type="button" (click)="depositMoney()">Depositar</button>
    </div>
  </form>
</main>