/* .toast-container {
  min-width: 250px;
  background-color: #1db954;
  color: white;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.toast-header {
  background-color: #1db954;
  color: white;
}

.toast-body {
  font-size: 1rem;
} */

/* .toast .btn-close {
  filter: invert(1);
} */
