<div class="row text-center d-flex justify-content-end align-items-start w-100 mt-5 mt-3">
  <div class="col-6" *ngFor="let item of arrayNotificaciones">
    <div class="card m-1 p-3" style="background-color: rgb(206, 205, 205);">
      <div class="card-hearder">
        <strong>Resumen Transacción:</strong>
      </div>
      <div class="card-body">
        <small>{{ item.fecha | date: 'short' }}</small><br>
        <strong>${{ item.monto | currency: 'COP ': 'code' }}</strong>
      </div>
    </div>
  </div>
</div>
